/LICENSE-2.0.txt
/.project
/.build-*.log
/*.src.rpm
/noarch
/asm-6.2.pom
/asm-analysis-6.2.pom
/asm-commons-6.2.pom
/asm-test-6.2.pom
/asm-tree-6.2.pom
/asm-util-6.2.pom
/asm-xml-6.2.pom
/asm-6.2.1.pom
/asm-analysis-6.2.1.pom
/asm-commons-6.2.1.pom
/asm-test-6.2.1.pom
/asm-tree-6.2.1.pom
/asm-util-6.2.1.pom
/asm-xml-6.2.1.pom
/objectweb-asm-*.tar.gz
/objectweb-asm-*/
/asm-7.0.pom
/asm-analysis-7.0.pom
/asm-commons-7.0.pom
/asm-test-7.0.pom
/asm-tree-7.0.pom
/asm-util-7.0.pom
/asm-8.0.1.pom
/asm-analysis-8.0.1.pom
/asm-commons-8.0.1.pom
/asm-test-8.0.1.pom
/asm-tree-8.0.1.pom
/asm-util-8.0.1.pom
