/LICENSE-2.0.txt
/.project
/.build-*.log
/*.src.rpm
/noarch
/objectweb-asm-*.tar.gz
/objectweb-asm-*/
/asm-9.1.pom
/asm-analysis-9.1.pom
/asm-commons-9.1.pom
/asm-test-9.1.pom
/asm-tree-9.1.pom
/asm-util-9.1.pom
